# .gitignore specific to the project
# see aaa_notForProject/.gitignoreGlobal for an example of a global .gitignore

#.gitignore
#tools
#extras

#include the notes (global .gitignore set to ignore aaa_notForProject)
!aaa_notForProject/notes.txt
